:root {
    font-family: 'Roboto', sans-serif;
    padding: auto;
    margin: auto;
    background-color: #121317;
    overflow: hidden;
  }
  
  .title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: auto;
    margin: 0px;
    text-align: center;
    color: rgb(255, 219, 146);
    font-size: 50px;
  }
  
  .title-split {
    color: rgb(255, 66, 66);
  }
  
  .sub-title {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding: auto;
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1;
    color: #424855;
    font-size: 22px;
    letter-spacing: 0.1ch;
  }
  
  .sub-sub-title {
    font-family: 'Roboto', sans-serif;
    padding: auto;
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1;
    color: rgb(180, 180, 180);
    font-size: 22px;
    letter-spacing: 0.1ch;
  }
  
  .dummy-snippet-1-l {
    color: rgb(35, 38, 42);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-style: italic;
    text-align: left;
  }
  
  .dummy-snippet-1-r {
    color: rgb(35, 38, 42);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-style: italic;
    text-align: right;
  }
  
  .dummy-snippet-2 {
    color: rgb(35, 38, 42);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: auto;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-style: italic;
  }
  
  .dummy-snippet-3 {
    color: rgb(35, 38, 42);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: auto;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    font-style: italic;
  }
  
  ul {
    padding-left: 0; 
    text-align:center; 
    list-style-type:none;
  }
  
  li {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #424855;
    width: 20em;
    text-align: center;
  
  }
  
  li:hover {
    background-color: rgb(255, 66, 66);
  }
  
  ul.featured-list-nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
  }
  
  /* Loader */
  .content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
  }

  .loader {
    height: 125vh;
    width: 125vw;
    overflow: hidden;
    background-color: #121317;
    position: absolute;
  }
  
  .loader>div {
    height: 100px;
    width: 100px;
    border: 1px solid #424855;
    border-top-color: rgb(255, 219, 146);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
  }
  
  @keyframes spin {
    100%{
      transform: rotate(360deg);
    }
  }

    /* Forms */
    input 
    {
        width: 100%;
        max-width: 400px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-align: center;
        background-color: #0f1013;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        letter-spacing: 0.1ch;
        font-weight: 1;  
        outline: none;
        border: 1px;
    }

    .forms {
        text-align: center;  
    }

    .encryption-multipliers-container {
      display: inline-flex;
    }

    .btn {
        max-width: 200px;
        font-size: 16px;
        background-color: rgb(142, 142, 142);
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: #121317;
        font-size: 20px;
        font-weight: bold;
        border-radius: 25px;
        margin: 20px;
    }

    .btn-continue {
      max-width: 200px;
      font-size: 16px;
      background-color: #aaffa6;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      color: #121317;
      font-size: 20px;
      font-weight: bold;
      border-radius: 25px;
      margin: 20px;
  }
  
  .btn-restart {
    max-width: 200px;
    font-size: 16px;
    background-color: #ff7f7f;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #121317;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    margin: 20px;
}

    .btn:hover {
        background-color: rgb(142, 142, 142);
        cursor: pointer;
    }

    .btn-continue:hover {
      background-color: rgb(47, 138, 50);
      cursor: pointer;
    }

    .btn-restart:hover {
      background-color: rgb(116, 43, 43);
      cursor: pointer;
  }
    

    .shift-forms {
        max-width: 100px;
    }

    input[type=number]::-webkit-inner-spin-button {
        opacity: 1
    }
    
  /* Game Related Styling */
  .game-container {
    overflow-y: scroll;
    height: 500px;
    width: 900px;
    background-color: #0f1013;
    border-radius: 25px;
    margin: auto;
    padding: auto;
    text-align: center;
    border:#494c57 2px;
    border-style: solid;
  }

  .game-container p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    white-space: pre-line;
  }

  .green {
    color:rgb(78, 255, 84);
  }

  img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .stats-container {
    height: 105px;
    width: 900px;
    background-color: #0f1013;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 5px;
    padding: auto;
    text-align: center;
    border:#494c57 2px;
    border-style: solid;
  }

  .stats-container p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    white-space: pre-line;
  }

  .region-container {
    height: 105px;
    width: 900px;
    background-color: #0f1013;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 5px;
    padding: auto;
    text-align: center;
    border:#1d1f25 2px;
    border-style: solid;
  }

  .region-container p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    white-space: pre-line;
  }

  .event-container {
    height: 105px;
    width: 900px;
    background-color: #0f1013;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 5px;
    padding: auto;
    text-align: center;
    border:#494c57 2px;
    border-style: solid;
  }

  .event-container p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    white-space: pre-line;
  }


  
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #0b0c0e;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8d3de;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Horizontal Rulers */
hr {
  background-color: #121317;
  border: 1px dashed rgb(55, 64, 64);
  max-width: 500px;
}

.red {
  color:#ff7f7f;
}

.red-bright {
  color:#fb0101;
}

.dark-red {
  color:#810000;
}

.light-green {
  color:#aaffa6;
}

.orange {
  color:rgb(227, 206, 135);
}

.light-gold {
  color:rgb(255, 167, 52);
}

.purple {
  color:blueviolet;
}

.brown {
  color: #a38d60;
}

.blue {
  color:rgb(32, 59, 181);
}

.purplebrown {
  color:rgb(255, 91, 146);
}

.light-blue {
  color:rgb(112, 229, 255);
}

/* Stats Colors */

.health {
  color:#ff7f7f;
}

.gold {
  color:rgb(221, 176, 29);
}

.distance {
  color: #91a3a3;
}

.region {
  color: #a38d60;
}

.lvl {
  color:#aaffa6;
}

.xp {
  color:rgb(78, 255, 84);
}